body {
    background-color: #2E86AB;
    padding: 0;
    margin: 0: font-size: 16px;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto 0 auto;
    align-items: center;
}

main p {
    background-color: #FF6F59;
    color: black;
}

header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 125px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 2rem;
    color: navy;
    margin: 0;
}

.motto {
    font-style: italic;
    color: forestgreen;
    font-size: 1rem;
    letter-spacing: 1.5pt;
}